
/* To use a custom font style. The same one from my Figma design. Mainly used for titles and main headings!! */
@font-face {
    font-family: 'custom-font';
    src: url("./Typeface/SSF4 ABUKET.ttf") format("truetype");
}

@font-face {
    font-family: 'Fredoka';
    src: url("./Typeface/Fredoka.ttf") format("truetype");
}

@font-face {
    font-family: 'Spicy-Rice';
    src: url("./Typeface/SpicyRice-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Archivo';
    src: url("./Typeface/ArchivoBlack.ttf") format("truetype");
}

@font-face {
    font-family: 'ABZ';
    src: url("./Typeface/ABeeZee-Regular.ttf") format("truetype");
}


/* Navigation Styles */
ul {
    list-style-type: none; /* To get rid of those black dots */
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: black;
    margin: 0;
}

.logo-area {
    display: flex;
    align-items: center;
}

.navigation {
    width: 140px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 55px;
    justify-content: center;
}

#red-button {
    margin-left: 17%;
}

.nav-names {
    margin: 0;
    color: white;
    font-family: 'Fredoka';
    font-weight: 550;
    width: auto;
}

/* Index Homepage Styling */
.index {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./Png/RyuVSAkuma.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.hero-title {
    font-family: 'custom-font';
    font-size: 3.5rem;
    word-spacing: 20px; /*Without this word-spacing, the words would look way to close together, don't want that! */
    display: flex;
    justify-content: center;
    color: white;
}

.subtitle {
    width: auto;
    height: auto;
    justify-content: center;
}

.hero-subtitle {
    font-family: 'Spicy-Rice';
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: #FAE81C;
    width: 55%;
    height: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.Small-Overview {
    width: auto;
    height: auto;
}

.intro-panel {
    margin: auto;
    width: 777px;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FDC40870; /*There are two extra digits than a regular hex code because the two values control transparency!!*/
    border-radius: 15px;
    position: relative;
}

.intro-graphic {
    position: absolute; /* Move Ryu into an exact position and not having to rely on flexbox or margin to move him up. Also doesn't affect where the text is centered */
    top: 5%;
    left: 3%;
}

.intro-text {
    width: 75%;
    height: 55%;
    margin: auto;
}

.Description-lol {
    font-family: 'Fredoka';
    font-weight: 650;
    font-size: 1.5rem;
    text-align: center;
}


.site-footer {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}


#footer {
    font-family: 'Fredoka';
    color: white;
}

/* Game History Styling Page */

.history {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./Png/RyuSF5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    background-position: center;
}

.timeline-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.yuppy {
    height: 280px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    background-color: #F1FF28;
    width: 20px;
    height: 20px;
    border: 2px solid #F1FF28;
    border-radius: 50%;
}

.timeline-item {
    display: flex;
    justify-content: center;
}

.Street-Fighter-lol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.years {
    font-family: 'Archivo';
    color: white;
    font-size: 2.5rem;
}

.yellow-line {
    background-color:#F1FF28;
    width: 1500px;
    height: 5px;
    position: absolute;
    top: 63%;
    left: 14%;
}

#number-two {
    position: absolute;
    width: 1000px;
    top: 101.5%;
}

/* Street Fighter One (Timeline) Stylization */

.SF1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./Png/StreetFighterOneBackground.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: auto;
    padding-bottom: 100px;
}

.game-intro-text {
    background-color: #FDC40870;
    border-radius: 50px;
    height: 350px;
    width: 650px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.game-page.game-sf1 {
    display: flex;
    height: 500px;
    align-items: flex-start;
    gap: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#SF1-Description {
    font-family: 'Fredoka';
    color: white;
    font-size: 1.2rem;
    font-weight: 650;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
}

.Red-Back-Button {
    margin-left: 25px;
    margin-top: 25px;
}

.game-logo {
    margin-top: 50px;
    margin-right: 100px;
}

#SF1-Logos {
    width: 325px;
    height: 259px;
}

.Street-Fighter-One-P {
    font-family: 'Fredoka';
    color: white;
    font-size: 1.3rem;
    font-weight: 650;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    display: grid;
    grid-column-start: span 2;
    align-self: center;
}

.yellow-box {
    display: grid;
    grid-column: span 2;
    justify-self: center;
    background-color: #FDC40870;
    height: 125px;
    width: 550px;
    border-radius: 35px;
}

.game-facts {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.fact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 35px;
}

.sf1-fighters {
    display: grid;
    justify-self: center;
}

.game-pagination {
    position: absolute;
    top: 50%;
    left: 91%;
}

#left-arrows {
    position: absolute;
    left: 2.5%;
}

.yellow-nav-button {
    height: 130px;
    width: 130px;
}

/* Street Fighter Two (Timeline) Stylization */
.SF2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./Gif/Guile-Stage.gif);
    background-repeat: no-repeat;
    margin: auto;
    height: auto;
    padding-bottom: 150px
}

.game-page.game-sf2 {
    display: flex;
    height: 570px;
    align-items: flex-start;
    gap: 125px;
    margin-bottom: 30px;
    margin-top: 30px;
}


.summary-card {
    background-color: #30F7FE70;
    border-radius: 50px;
    height: 300px;
    width: 550px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.sf2-description {
    display: flex;
    align-self: center;
    font-family: 'Fredoka';
}

.SF2-text-stylization {
    font-family: 'Fredoka';
    font-size: 1.2rem;
    font-weight: 650;
    text-align: center;
}

.SF2-Bullet-Points {
    list-style-type: disc;
}

.Summary-Cards-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 50px;
}

#summary-card-1 {
    height: 220px
}

#summary-card-2 {
    height: 150px;
}

#summary-card-3 {
    display: grid;
    grid-column: span 2;
    justify-items: center;
}

#SF2-Logo {
    width: 325px;
    height: 185px;
}

.roster-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    background-color: #30F7FE70;
    border-radius: 25px;
}

.Timeline-Characters {
   display: flex;
   justify-content: end;
   margin-right: 250px;
}

.SF2-Character-Names {
    display: flex;
    justify-content: center;
    font-family: 'Archivo';
    color: white;
    font-size: 1.3rem;
}

.section-title {
    display: flex;
    justify-content: center;
    font-family: 'ABZ';
    color: #50E8FF;
}

.game-roster {
    border-radius: 25px;
    width: 875px;
    display: grid;
    place-self: center;
}

.version-timeline {
    list-style: none;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #50E8FF;
    border-radius: 50%;
}

#with-line::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 200px;
    background-color: #50E8FF;
    top: 100px;
    margin-left: 5px;
    border-radius: 2px;
    
}

time[datetime] {
    font-family: 'Archivo';
    color: white;
    font-size: 2rem;
}

.SF2-Timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    position: relative;
}

.invisible-box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-versions {
    height: 800px;
    position: absolute;
    top: 50%;
    left: 15%;
}

/* Street Fighter Timeline (Alpha) Stylization */
.Alpha {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./Gif/StreetFighterAlpha.gif);
    background-repeat: no-repeat;
    margin: auto;
    height: auto;
    background-size: cover;
    padding-bottom: 100px;
    background-position: center;
}

